*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

img{
    width: 100%;

    /* height: 100px; */
    object-fit: cover;

}

body{
    background-color: #EAEFF1;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display:flex;
}

.container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    /* max-width: ; */
    background-color: white;
    width: 260px;
    padding:20px;
    margin:30px;
    justify-self: start;
}

.card:hover .card-content{
    margin-top:-60px;
}

.card-cover{
    width: 100%;
    height: 200px;
    position: relative;
    margin-top: -60px;
    z-index: 10;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    display:flex;
    justify-content: center;
    align-items:center;

}

.card-cover h1{
    color:white;
    font-size:30px;
}

/* .cover1{
    background-color:rgb(26, 209, 209);
} */

.cover2{
    background-color:rgb(57, 134, 134);
}

.cover3{
    background-color:rgb(29, 80, 80);
}
.card-content{
    height: 200px;
    width: 100%;
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-top:-200px;
    position:relative;
    overflow:hidden;
    transition: margin-top .3s ease-out;
}

.text-group{
    position:absolute;
    top: - 80px;
    opacity:0;
    transition: top .3s .3s ease-out;
}

.text-group h3{
    margin-bottom:15px;
}

.card:hover .text-group{
    top:90px;
    opacity:1;
}